
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 2;
    
}

.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, #ffffff5d, #000),url('../img/image2.jpg');
    background-position: center;
    background-size: cover;
    

}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.text-box h1{
text-transform: uppercase;
color: rgb(177, 152, 98);
text-shadow: 0 0 3px #000, 0 0 5px #0f0e0e5d;
}

.heading-main{
    display: block;
    font-size: 5rem;
    letter-spacing: 1.1rem;
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;

}

@keyframes moveInLeft {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    80% {
        transform: translateX(50px);
    }


       100% {
       transform: translateX(0);
        opacity: 1;
    }

}

.heading-sub {
    display: block;
    font-size: 1.8rem;
    letter-spacing: 1.3rem;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;

}

@keyframes moveInRight {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    80% {
        transform: translateX(-50px);
    }


       100% {
       transform: translateX(0);
        opacity: 1;
    }


}

.btn-container{
    text-align: center;
}

.btn {
    border-bottom: 0.2rem solid rgb(177, 152, 98);
    color: #000;
    display: inline-block;
    font-size: 3.5rem;
    padding: 1rem;
    margin-top: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;

}

.btn:hover {
box-shadow: 0 1rem 2rem rgb(0, 0, 0.15);
background-color: rgba(250, 235, 215, 0.253);
transform: translateY(-5px);
}

.btn:active {
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0.15);
    transform: translateY(5px);
}

.main {
    background-color: rgb(177, 140, 93);
    height: 95vh;
    margin-top: -7rem;
    text-align: center;
    padding-top: 5rem;
    clip-path: polygon(50% 6%, 100% 0, 100% 43%, 100% 89%, 29% 100%, 0 100%, 0% 43%, 0 0);

}

.main h1 {
    color: rgb(241, 216, 184);
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000, 0 0 5px #0f0e0e5d;
    
}

.gallery{
    margin: 0 auto;
    height: 100%;
    position: relative;
    width: 75%;
}

.gallery_photo{
    box-shadow: 0 1.5rem 4rem rgba(250, 235, 215, 0.253);
    outline-offset: 1rem;
    position: absolute;
    width: 400px;
    transition: all 0.3s;
    z-index: 10;
}

.gallery_photo:hover{
    outline: 1.8rem solid rgba(250, 235, 215, 0.253);
    transform: scale(1.1);
    z-index: 30;
}

.gallery_photo-3{
    left: 25%;
    top: 15%;
    width: 450px;
}

.gallery_photo-2{
    top: 45%

}

.gallery_photo-1{
    width: 450px;
    left: 60%;
    top: 15%;
}

.footer {
    height: 200px;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    padding: 1rem;

}

.footer ul li {
    display: inline-block;
    margin: 1rem;

}

.footer ul li a {
    color:rgb(94, 95, 97);
    text-decoration: none;
}

.footer ul li:hover, .footer ul li a:hover {
    color: black;
    transform: scale(1.2);
}